{% extends "base_ja.html" %}
{% block title %}サインアップ{% endblock %}
{% block content %}
<form method="POST">
    <h1 align="left">サインアップ</h1>
      <div class="mb-3">
        <label for="name" class="form-label">名前</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="名前を入力してください" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">メールアドレス</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="メールアドレスを入力してください" required>
      </div>
      <div class="mb-3">
        <label for="school" class="form-label">学校</label>
        <input type="text" id="school" name="school" class="form-control" placeholder="学校名を入力してください" required>
      </div>
      <div>
        <label for="birthday">生年月日:</label>
        <input type="date" id="birthday" name="birthday">
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">パスワード</label>
        <input type="password" id="password1" name="password1" class="form-control" placeholder="パスワードを入力してください (6文字以上)" required>
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label">パスワードの確認</label>
        <input type="password" id="password2" name="password2" class="form-control" placeholder="同じパスワードをもう一度入力してください" required>
      </div>
      
      <button type="submit" class="btn btn-primary">サインアップ</button>
  </form>
  <br>
{% endblock %}
